
#features
{
	@include container(70%);
	background-color: $white;
	box-shadow: 10px 0 5px -2px #888;

@include breakpoint($smallscreen)
{
	@include container(100%);
}


	#changes
	{

		section
		{
			@include breakpoint($standartscreen)
			{
				@include span(1 of 3);
			}



			h2
			{
				color: $black;
				display: inline-block;
				padding-bottom: 10px;
				border-bottom: 8px solid $orange;
				text-transform: uppercase;

			}

			ul 
			{
				font-size: 140%;
				line-height: 300%;
				margin-top: 30px;

				@include breakpoint($smallscreen)
				{
					font-size: 110%;
					line-height: 150%;
					margin-bottom: 30px;
				}

				li 
				{
					font-weight: $normal;

					i 
					{
						margin-right: 15px;
						color: $dark;
					}
				}

			}
		}

		section#bodyimage
		{
			@include breakpoint($smallscreen)
			{
				display: none;
			}
		}

	}
}

#try
{

	@include background-image(linear-gradient(left, $light, $orange));

	#bgcontainer
	{
		position: relative;
	    z-index: 1;

	    #bg 
	    {
		  	position: absolute;
		    z-index: -1;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: url('../images/tired.jpg') no-repeat center center;
	      -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		    opacity: .3;
		    width: 100%;
		    height: 100%;
		}

		p
		{
			@include container(60%);
			line-height: 130%;
			padding: 150px 0;
			text-transform: uppercase;
			font-size: 4em;
			font-weight: $heavy;

			@include breakpoint($smallscreen)
			{
				@include container(95%);
				padding: 50px 0;
				font-size: 2em;
			}

			span 
			{
				color: $magenta;
			}
		}

	}

}
